
.selected {
    filter: drop-shadow(1px 1px 20px rgb(162, 45, 145));
}

.outsideAppWindow { 
    border: solid; border-radius: 10px; background-color: #312f6c2b; backdrop-filter: blur(7px);
    padding: 10px; margin: 0px; width: fit-content; padding: 7px; flex-direction: column;
    position: absolute; left: 50%; top: 55%; transform: translate(-50%, -50%); display: none;
}

