:root {
    --window-color: rgb(250, 242, 229);
    --text-color: #000000;
    --link-color: #090d74;
    --switch-color: #353c47;
    --background-image: url(./images/background2.png);
    --button-background: rgb(224, 216, 202);
    --ratings-star: url(./images/stars/star.png);
    --ratings-starShine: url(./images/stars/starShine.png);
}

.darkmode {
    --window-color: #353c47;
    --text-color: rgb(250, 242, 229);
    --link-color: rgb(255, 251, 245);
    --switch-color: rgb(250, 242, 229);
    --button-background: #242930;
    --ratings-star: url(./images/stars/starDarkMode.png);
    --ratings-starShine: url(./images/stars/starShineDarkMode.png);
}

#theme-switch {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    padding: 1px;
    background-color: var(--switch-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 150px;
    left: 320px;
}

#theme-switch img:last-child {
    display: none;
}

.darkmode #theme-switch img:first-child {
    display: none;
}

.darkmode #theme-switch img:last-child {
    display: block;
}

.Black {
    animation-name: BlackAnimation;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes BlackAnimation {
    0% {
        display: block;
    }

    80% {
        display: none
    }

    100% {
        display: none
    }
}

.Baner {
    animation-name: BanerAnimation;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes BanerAnimation {
    0% {
        top: 0%; left: -200%; display: block;
    }

    50% {
        top: 0%; left: 0%; display: block;
    }

    80% {
        top: 0%; left: 0%; display: none
    }

    100% {
        top: 0%; left: 0%; display: none
    }
}

a {
    color: var(--link-color)
}

.selected {
    filter: drop-shadow(1px 1px 20px rgb(162, 45, 145));
}

.outsideAppWindow { 
    border: solid; border-radius: 10px; background-color: #312f6c2b; backdrop-filter: blur(7px);
    padding: 10px; margin: 0px; width: fit-content; padding: 7px; flex-direction: column;
    position: absolute; left: 50%; top: 45%; transform: translate(-50%, -50%); display: none;
}

.insideAppWindow {
    border: solid; border-radius: 16px; text-align: justify;
    background-color: var(--window-color); padding: 16px; 
    width: 850px;
    height: 300px;
    overflow-y: scroll;
    color: var(--text-color);
    position: relative
}

.insideAppWindow-noscroll {
    border: solid; border-radius: 16px; text-align: justify;
    background-color: var(--window-color); padding: 16px; 
    width: 850px;
    height: 300px;
    overflow-y: none;
    color: var(--text-color)
}

.NotesDisplay {
    background-color:rgb(255, 248, 237); padding: 10px;
    height: 77px;
    border-radius: 5px;
}

.AppsIcon {
    width:fit-content; 
    text-align: center; 
    padding: 10px; 
    cursor: pointer;
    transition: 100ms;
}

.AppsIcon:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 20px rgb(162, 45, 145));
    
}

.map {
    border-radius: 10px;
    transition: 500ms;
    margin-left: 90px;
}

.map:hover {
    transform: scale(1.3);
}

.SaLSatransition {
    transition: 800ms;
}

.SaLSatransition:hover {
    transform: scale(2)
}

.container {
    padding: 5px;
}

.slider-wrapper {
    position: relative;
    max-width: 800px;
    max-height: 300px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 5px;
}

.slider img {
    flex: auto;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 15%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 10px;
    height: 10px;
    border-radius: 75%;
    background-color: rgb(250, 242, 229);
    opacity: 50%;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%;
}

.golden {
    animation-name: goldenSpin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes goldenSpin {

    0% {
    

    }

    100%{
    transform: rotate(360deg)
    }
}

.AdditionalAppsIcon {
    cursor: pointer;
    transition: 100ms;
}

.AdditionalAppsIcon:hover {
    transform: scale(1.1);
    filter: drop-shadow(1px 1px 20px rgb(162, 45, 145));
}

.karuzela {
    width: 99%;
    height: auto;
    display: flex;
    overflow-x: auto;
}

.karuzela::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: VojagerPhotosKaruzela 45s infinite linear;
    padding-right: 1em;
}

.card {
    width: 288px;
    height: 216px;
    flex: 0 0 5em;
    transition: 150ms ease-in-out
}

.card:hover {
    transform: scale(1.08);
}

@keyframes VojagerPhotosKaruzela {
    from {translate: 0;}
    to {translate: -100%;}
}

.INFORMATION {
    color: var(--window-color);
    scale: 0.5;
    transition: 500ms ease-in-out;
    transform: rotate(0deg);
}

.INFORMATION:hover {
    border: solid var(--switch-color);
    border-radius: 2px;
    color: var(--switch-color);
    scale: 2;
    transform: rotate(0deg);
    background-color: var(--window-color);
    box-shadow: 1px 1px 100px var(--switch-color);
}

.voyagerInstruments {
    transition: 200ms ease-in-out;
}

.voyagerInstruments:hover {
    scale: 1.3;
    left: 10%;
}

.color-picker > fieldset {
    border: 0;
    display: flex;
    gap: 2em;
    width: fit-content;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 150px;
    height: 75px;
    outline: 2px solid var(--radio-color, currentColor);
    outline-offset: 2px;
    border-radius: 5px;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
    outline-width: 5px;
}

.color-picker input[type="radio"]#River {
    --radio-color: var(--switch-color)
}

.color-picker input[type="radio"]#Aurora {
    --radio-color: #57aa2f
}

.color-picker input[type="radio"]#Moon {
    --radio-color: #abc6e4
}

.color-picker input[type="radio"]#Sunset {
    --radio-color: #e4abc2;
}

.Aurora,
:root:has(#Aurora:checked) {
    --window-color: #d3ffbcda;
    --text-color: #374e2c;
    --link-color: #40a70d;
    --switch-color: #40a70d;
    --button-background: #b9fa96da;
    --background-image: url(./images/background3.png);
    --ratings-star: url(./images/stars/starAurora.png);
    --ratings-starShine: url(./images/stars/starShineAurora.png);
}


.Moon,
:root:has(#Moon:checked) {
    --window-color: #cde4fd;
    --text-color: #15162d;
    --link-color: #545454;
    --switch-color: #515251;
    --button-background: #77a5d5;
    --background-image: url(./images/background1.jpg);
    --ratings-star: url(./images/stars/starMoon.png);
    --ratings-starShine: url(./images/stars/starShineMoon.png);
}

.Sunset,
:root:has(#Sunset:checked) {
    --window-color: #f3c7d9;
    --text-color: #fffdf8;
    --link-color: #d6f7f7;
    --switch-color: #d6f7f7;
    --button-background: #bbeeee;
    --background-image: url(./images/background4.png);
    --ratings-star: url(./images/stars/starrSunset.png);
    --ratings-starShine: url(./images/stars/starShineSunset.png);
}

.roverAnimation {
    animation: OpportunityAnimation 35s infinite linear
}

@keyframes OpportunityAnimation {
    0% {
        top: -9%; 
        left: 37%;
        transform: rotate(-0deg);
    }

    5% {
        top: -4%;
        left: 24%;
        transform: rotate(-18deg);
    }

    10% {
        top: 3%;
        left: 12%;
        transform: rotate(-36deg);
    }

    15% {
        top: 12%;
        left: 1%;
        transform: rotate(-54deg);
    }

    20% {
        top: 22%;
        left: -4%;
        transform: rotate(-72deg);
    }

    25% {
        top: 40%;
        left: -7%;
        transform: rotate(-90deg);
    }

    30% {
        top: 55%;
        left: -3%;
        transform: rotate(-108deg);
    }

    35% {
        top: 65%;
        left: 4%;
        transform: rotate(-126deg);
    }

    40% {
        top: 74%;
        left: 14%;
        transform: rotate(-144deg);
    }

    45% {
        top: 81%;
        left: 23%;
        transform: rotate(-162deg);
    }

    /*48% {
        top: 0%;
        left: 0%;
        transform: rotate(-172deg);
    }*/

    50% {
        top: 83%;
        left: 37%;
        transform: rotate(-180deg);
    }
    /*52% {
        top: 0%;
        left: 0%;
        transform: rotate(-188deg);
    }*/
    55% {
        top: 81%;
        left: 52%;
        transform: rotate(-198deg);
    }

    60% {
        top: 74%;
        left: 63%;
        transform: rotate(-216deg);
    }

    65% {
        top: 65%;
        left: 72%;
        transform: rotate(-234deg);
    }

    70% {
        top: 54%;
        left: 79%;
        transform: rotate(-252deg);
    }

    75% {
        top: 40%;
        left: 83%;
        transform: rotate(-270deg);
    }

    80% {
        top: 30%;
        left: 81%;
        transform: rotate(-280deg);
    }

    85% {
        top: 15%;
        left: 75%;
        transform: rotate(-304deg);
    }

    90% {
        top: 3%;
        left: 63%;
        transform: rotate(-324deg);
    }

    95% {
        top: -3%;
        left: 54%;
        transform: rotate(-342deg);
    }

    100% {
        top: -9%;
        left: 37%;
        transform: rotate(-360deg);
    }
}

.statistic {
    transition: 500ms;
}

.statistic:hover {
    transform: scale(1.3);
}

.tabSwitching {
    animation: appAnimation linear 1 500ms
}

@keyframes appAnimation {
    0% {
        top: 70%;
        left: 20%;
        scale: 0.01;
    }

    100% {
        top: 50%;
        scale: 1;
    }
}


#gameContainer {
    text-align: center
}

#gameBoard {
    border: 3px solid var(--button-background);
    border-radius: 5px;
}

#scoreText {
    font-size: 20px;
    margin-top: 10px;
}

#highScoreText {
    font-size: 20px;
    margin-top: 10px;
}

#resetBtn {
    appearance: none;
    border: 2px solid var(--switch-color);
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    height: fit-content;
    background-color: var(--button-background);
    color: var(--text-color);
    font-family:'Finlandica Text', sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: 200ms;
    margin-right: 100px;
}

#resetBtn:hover {
    scale: 1.2
}

.snake-background {
    background-color: var(--switch-color);
}

.photosRatings input[type="radio"] {
    appearance: none;
    width: 30px;
    height: 30px;
    background-image: var(--ratings-star);
    background-size: cover;
    border-radius: 5px;
    transition: 250ms;
    margin-right: 15px;
    cursor: pointer
}

.photosRatings input[type="radio"]:checked {
    background-image: var(--ratings-starShine);
    scale: 1.5;
    transform: rotate(360deg);
}

.photosAnimation {
    animation: appear 200ms linear;
    animation-timeline: view();
    animation-range-start: 0px; 
    animation-range-end: 300px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.snoopyAnimation {
    animation: snoopy linear;
    animation-timeline: view();
    animation-range-start: 0px; 
    animation-range-end: 250px;
}

@keyframes snoopy {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    50% {
        opacity: 1;
        scale: 1.5;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.photosAnimationCircle {
    animation: appearInCircle 200ms linear;
    animation-timeline: view();
    animation-range-start: -1px; 
    animation-range-end: 300px;
}

@keyframes appearInCircle {
    from {
        border-radius: 100%;
        opacity: 0;
        scale: 0.8;
    }
    to {
        border-radius: 5px;
        opacity: 1;
        scale: 1;
    }
}

.photosScrollingAnimation {
    animation: scrolling linear;
    animation-timeline: scroll();
    animation-range-start: 0px; 
    animation-range-end: 100%;
}

@keyframes scrolling {
    to {
        transform: translate(calc(-50% - 0.5rem))
    }
}

.textAnimation {
    animation: appear 200ms linear;
    animation-timeline: view();
    animation-range-start: -150px; 
    animation-range-end: 200px;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.labelText {
    margin-bottom: 100px;
}

/* calender app */

.container2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.calendar-container {
    background: var(--button-background);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    width: 280px;
    height: 450px;
}

.calendar-container:hover {
    transform: translateY(-1px);
    box-shadow: 0 15 35 rgb(0, 0, 0, 0.15);
}

.calendar-header {
    background: #1c2026;
    padding: 1.5rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.month-year {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
    position: relative;
}

.nav-buttons-calendar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 91%;
    top: 50%;
    left: 0; 
    transform: translateY(-50%);
    padding: 0 1rem;
    z-index: 1;
}

.nav-button-calendar {
    background: var(--window-color);
    color: var(--text-color);
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 20%;
    cursor: pointer;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button-calendar:hover {
    transform: scale(1.1)
}

.weekdays {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    padding: 0.5rem 0.5rem;
    background: #21252c;
    font-weight: 600;
    width: 50px;
}

.weekday {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
}

.daysContainer {
    width: 280px;
    height: fit-content;
    max-height: 240px
}

.days {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    font-weight: 500;
    color: violet;
}

.day:hover {
    background: palevioletred;
    transform: scale(1.1);
}

.day.today {
    background: pink;
    color: var(--text-color);
    font-weight: bold;
}

.day-selected {
    background: purple;
    color: var(--text-color);
    font-weight: bold;
    animation: pop 0.3 ease;
}

@keyframes pop {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

.day.other-month {
    color: plum;
    opacity: 0.5;
}

/* kropeczka pod wydarzeniem */
.day.has-events::after {
    content:'';
    position: absolute;
    bottom: 5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: var(--window-color);
}

.calendar-footer {
    padding: 1rem;
    margin-top: 0.9rem;
    text-align: center;
    border-top: 1px solid var(--switch-color);
    display: flex;
    justify-content: space-between;
    bottom: 5px;
}

.today-btn {
    background: var(--switch-color);
    color: var(--window-color);
    border: none;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    width: fit-content;
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    font-weight: 500;
    bottom: 1%;
    position: relative;
}

.today-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px #353c4781
}

.event-indicator {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
    bottom: 1%;
    position: relative;
    float: right;
}

/* tutaj event panel a u góry jest kalendarz */

.event-panel {
    background: var(--button-background);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    padding: 1rem;
    overflow: hidden;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--switch-color)
}

.event-date {
    font-size: 1.5rem;
    font-weight: 600;

}

.event-list {
    overflow-y: auto;
    max-height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.event-item {
    padding: 1rem;
    margin-bottom: 0.8rem;
    background: var(--window-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out;
}

.event-item:hover {
    transform: translateX(6px);
}

.event-color {
    width: 14px; 
    height: 14px;
    border-radius: 50%;
    background: var(--button-background);
    flex-shrink: 0;
}

.event-time {
    font-weight: 600;
    color: darkmagenta;
    min-width: 80px;
}

.event-text {
    flex: 1;
}

.no-events {
    text-align: center;
    color: var(--link-color);
    padding: 1rem 1rem;
    font-style: italic
}

.event-icon {
    font-size: 1.2rem;
    margin-left: 10px;
}